@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

button {
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Estilização da barra de rolagem */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer components {
  .section-padding {
    @apply py-20 px-4 sm:px-6 lg:px-8;
  }
  
  .container-width {
    @apply max-w-7xl mx-auto;
  }
  
  .heading-primary {
    @apply text-4xl sm:text-5xl md:text-6xl font-bold;
  }
  
  .heading-secondary {
    @apply text-3xl sm:text-4xl font-bold;
  }
}
